[submodule "assignments/unm_cs427_chatbot"]
	path = assignments/unm_cs427_chatbot
	url = git@github.com:alexebaker/unm_cs427_chatbot.git
[submodule "assignments/unm_cs427_prolog-nlp"]
	path = assignments/unm_cs427_prolog-nlp
	url = git@github.com:alexebaker/unm_cs427_prolog-nlp.git
